<div class="login-container">
  <mat-card>
    <mat-card-content class="login-inputs">
      <mat-form-field>
        <input name="username" type="text" placeholder="username" matInput />
      </mat-form-field>
      <mat-form-field>
        <input
          name="password"
          type="password"
          placeholder="password"
          matInput
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent">Login</button>
    </mat-card-content>
  </mat-card>
</div>
