<form
  [formGroup]="calculatorInputForm"
  (ngSubmit)="onSubmit(calculatorInputForm.value)"
  id="calculator-input-form"
>
  <div class="ret-calc-container">
    <mat-card>
      <mat-card-title id="calc-title"
        >Financial Information&mdash;<span id="user-display-name">{{
          userDisplayName
        }}</span></mat-card-title
      >
      <mat-card-subtitle id="current-balance"
        >(Current Balance: ${{ balance }})</mat-card-subtitle
      >
      <mat-card-content class="ret-calc-inputs">
        <mat-form-field>
          <input
            name="currentAge"
            type="number"
            placeholder="Current Age"
            matInput
            [formControl]="calculatorInputForm.controls.currentAge"
          />
          <mat-error *ngIf="hasError('currentAge', 'required')"
            >Current Age is required</mat-error
          >
          <mat-error *ngIf="hasError('currentAge', 'min')"
            >Current Age must be at least 18</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="number"
            placeholder="Retirement Age"
            matInput
            [formControl]="calculatorInputForm.controls.retirementAge"
          />
          <mat-error *ngIf="hasError('currentAge', 'required')"
            >Current Age is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            placeholder="Annual Income"
            matInput
            [formControl]="calculatorInputForm.controls.annualIncome"
          />
          <mat-error *ngIf="hasError('currentAge', 'required')"
            >Current Age is required</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <input
            type="text"
            placeholder="Savings Rate"
            matInput
            [formControl]="calculatorInputForm.controls.savingsRate"
          />
          <mat-error *ngIf="hasError('currentAge', 'required')"
            >Current Age is required</mat-error
          >
        </mat-form-field>
        <button mat-raised-button type="submit" color="accent">
          Calculate Retirement Balance
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</form>
