<div class="ret-calc-container">
  <mat-card>
    <mat-card-title id="calc-title"
      >Financial Information&mdash;<span id="user-display-name">{{
        this.userDisplayName
      }}</span></mat-card-title
    >
    <mat-card-subtitle id="current-balance"
      >(Current Balance: ${{ this.balance }})</mat-card-subtitle
    >
    <mat-card-content class="ret-calc-inputs">
      <mat-form-field>
        <input
          name="current-age"
          type="text"
          placeholder="Current Age"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <input
          name="annual-income"
          type="text"
          placeholder="Annual Income"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <input
          name="savings-rate"
          type="text"
          placeholder="Savings Rate"
          matInput
        />
      </mat-form-field>
      <button mat-raised-button type="submit" color="accent">Calculate</button>
    </mat-card-content>
  </mat-card>
</div>
